.container {
	max-width: 764px;
	margin: 0 auto;
}

.title {
	font-size: 3rem;
	font-weight: 500;
	margin: 3rem 0;
	text-align: center;
}

.form-container {
	display: flex;
	width: 100%;
}

.form-group {
	margin-bottom: 1rem;
	flex-grow: 1;

	input {
		border: 1px solid rgba(238, 238, 238, 1);
		border-radius: 5px;
		padding: 0.5rem;
		width: 100%;
		height: 26px;
		font-size: 1rem;

		&:focus-visible {
			outline: none;
			border: 1px solid #e2e3e4;
		}
	}
}

.form {
	label {
		display: block;
		font-weight: 600;
		margin-bottom: 0.3rem;
	}
}

.btn {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0px 5px 5px 0px;
	background-color: #e2e3e4;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 600;
	transition: all 0.3s ease;
	height: 44px;

	&:hover {
		background-color: #f8f9fa;
	}
}

.response {
	background-color: #2f2f2f;
	margin-top: 1rem;
	padding: 0.5rem 2rem;
	color: #fff;
	border-radius: 5px;
}

.error {
	color: #ff4d4f;
	font-weight: 500;
}